.book{
  margin-left: 30%;
  .nextButton{
    width: 10vh;
    border: black 2px solid;
    &:hover{
      cursor: pointer;
    }
  }
}

.seat{
  width: 20px;
  height: 20px;
  border: 1px black solid;
  margin: 1px;
}